.record-table {
  table-layout: fixed;
}

.record-table caption {
  background-color: inherit;
  color: inherit;
}

.caption-inner-wrap {
  display: block;
  text-align: left;
  width: 100%;
  padding: 0 10px;
}

.caption-title-wrap {
  flex-grow: 1;
}

.record-table_title {
  --mt-bottom: 10px;
  display: block;
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.record-table_title a{
  text-decoration: none;
}

.caption-link-wrap {
  flex-shrink: 0;
  max-width: 50%;
}

.caption-link-wrap a {
  font-size: 1.4rem;
  line-height: 2rem;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.record-table tbody tr:last-child th,
.record-table tbody tr:last-child td {
  border-bottom: 0;
  padding-bottom: 25px;
}

.record-table strong {
  font-weight: 400;
}

.record-table th .record-table_text-wrap{
  font-weight: 600;
}
@media (min-width: 576px){
  .caption-inner-wrap {
    display: block;
    padding: 17px 16px 10px;
  }

  .record-table thead th{
    padding: 5px 20px;
  }

  .record-table tbody th,
  .record-table tbody td{
    padding: 8px 20px;
  }
}

@media (min-width: 768px){
  .caption-inner-wrap {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
  }
}

@media (min-width: 992px) {
  .caption-inner-wrap {
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .record-table_title{
    --mt-bottom: 0;
  }
  
  .caption-inner-wrap{
    padding: 17px 20px 10px;
  }
}

@media (min-width: 1200px){
  .caption-inner-wrap{
    padding: 17px 35px 10px;
  }

  
  .record-table thead th{
    padding: 17px 35px 10px;
  }

  .record-table tbody th,
  .record-table tbody td{
    padding: 17px 35px 10px;
  }
}

@media (max-width: 575px){
  .record-table,
  .record-table tbody,
  .record-table th,
  .record-table td,
  .record-table tr,
  .record-table caption{
    display: block;
  }

  .caption-inner-wrap {
    display: block;
    padding: 10px 15px;
    text-align: left;
  }

  .record-table thead{
    display: none;
  }

  .record-table tbody{
    position: relative;
  }

  .record-table tbody::before{
    border-left: 120px solid var(--section-border-color);
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;

  }

  .record-table tbody tr{
    overflow: hidden;
    width: 100%;
  }

  .record-table tbody th:before,
  .record-table tbody td:before{
    width: 120px;
    display: inline-block;
    content: attr(data-title);
    position: relative;
    z-index: 1;
    color: var(--section-widget-foreground-color);
  }

  .record-table tbody th:before,
  .record-table tbody td:before,
  .record-table_text-wrap{
    padding: 10px 15px;
  }
  
  .record-table tbody th,
  .record-table tbody td,
  .record-table tbody tr:last-child th, .record-table tbody tr:last-child td{
    padding: 0;
    text-align: left;
    border: 0;
  }

  .record-table_text-wrap{
    display: inline-block;
    width: calc(100% - 128px);
  }

  .record-table tbody tr + tr{
    border-top: 1px solid var(--section-border-color);
  }

  .record-table tbody::before,
  .record-table tbody th:before,
  .record-table tbody td:before{
    display: none;
  }

  .record-table tbody tr{
    display: flex;
    align-items: center;
  }

  .record-table_text-wrap{
    width: 100%;
  }

  .record-table tbody th{
    flex-shrink: 0;
    width: 116px;
  }

  .record-table tbody td{
    width: 100%;
  }
}