.password-footer{
  --section-padding-top: 24px;
  --section-padding-bottom: 24px;
  --section-background-color: #f8f8f8;
  --section-foreground-color: #4e4e4e;
  --section-links-color: #202020;
  --section-active-hover-color: #202020;
  --section-focus-outline-color: #7b7b7b;
  background-color: var(--section-background-color);
  color: var(--section-foreground-color);
}

@media(min-width: 768px){
  .password-footer_link{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
}